<button
    pressEventIndicator
    type="button"
    class="cell {{cell.openedIdClassName}}"
    [attr.data-i]="cell.i"
    (keydown)="onKeyDown($event)"
    (press)="onPress($event)"
    (pressUp)="onPressUp()"
    (click)="onClick()"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (contextmenu)="onContextMenu($event)"
    [ngStyle]="{
        'width.px': smallScreenCellSize,
        'height.px': smallScreenCellSize
    }"
    [ngClass]="{
        'opened': cell.isOpened,
        'flag': cell.label === 'F',
        'mine': cell.isMine,
        'mine--exploded': cell.isMineExploded,
        'flag--wrong': cell.isWrongFlag
    }">

    <ng-container [ngSwitch]="cell.label">

        <ng-container *ngSwitchCase="'M'">
            <img class="cell__image" src="/projects/minesweeper/assets/emojis/pile-of-poop.png" alt="Pile of poop">
        </ng-container>

        <ng-container *ngSwitchCase="'F'">
            <img class="cell__image" src="/projects/minesweeper/assets/emojis/triangular-flag-on-post.png" alt="Flag">
        </ng-container>

        <ng-container *ngSwitchDefault>
            {{ cell.label }}
        </ng-container>

    </ng-container>
</button>