$cell_colors: (
    1: blue,
    2: green,
    3: red,
    4: darkblue,
    5: darkred,
    6: teal,
    7: black,
    8: grey
);

$grey: #cdd4de;
$accent: #21a47f;
$primary: #202c3b;

$alert: #ff4646;
$board-space: 8px;
$border-radius: 12px;

$gt-xs: 425px;
$gt-sm: 720px;
